:root {
    --navyblue: #099BE8;
    --lightblue: #E0F3FC;
    --darkblue: #033A57;
    --magenta: #E8099B;
    --white: #fff;
    --red: red;
    --black: black;
    --creme: #EAECD7;
}

/*HTML Styles*/
html {
    background-color: #C2E6F9;
}

/*Header Styles*/
header {
    display: inline-block;
    position: relative;
    width: 90.8%;
    margin: 10px;
    padding: 10px;
    color: var(--white);
}

header h1 {
    font-size: 300%;
    font-family: 'Courier New', Courier, monospace;
}

header p {
    font-size: 150%;
}

#header-image {
    background-image: url("../images/chandlertheturtle.jpeg");
    background-color: #cccccc;
    height: 400px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}


/*Nav Styles*/
nav {
    width: 8%;
    float: right;
    position: relative;
}

nav a {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 120px;
    height: 50px;
    margin: 50px 10px 50px 10px;
    padding: 10px;
    border: 3px solid var(--darkblue);
    border-radius: 8px;
    background-color: var(--navyblue);
    color: var(--white);
}

nav a:hover {
    transition: all 0.5s ease-in-out;
    box-shadow: inset 0px 0px 8px var(--magenta), 0 0 15px var(--magenta);
    cursor: grab;
    }

nav a:active {
    transition: none;
    background-color: var(--lightblue);
    color: var(--black);
    border-color: var(--magenta);
}    

/* Body Styles */
article li {
    margin: 5px 0 5px 0;
}

/* About Me Styles*/
.about-me {
    display: inline-flex; 
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 600px;
    margin: 5px 10px 5px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--darkblue);
}

.about-me h3 {
    font-size: 150%;
}

/*My Work Styles*/
.my-work {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5px 10px 5px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.my-work h3 {
    font-size: 150%;
    color: var(--darkblue);
}

/*My Work Main Styles*/
.main-work img {
    margin: 25px 10px 25px 10px;
    border: 5px solid var(--darkblue);
    border-radius: 10px;
    width: 775px;
    height: 400px;
}

#main-work-header {
    position: absolute;
    bottom: -40px;
    left: 375px;
    margin-top: -50px;
    padding: 10px;
    border: 5px solid var(--darkblue);
    border-radius: 10px;
    width: 250px;
    height: 50px;
    z-index: 1;
    background-color: var(--navyblue);
    color: var(--darkblue);
    font-size: 150%;
}

.main-work img:hover {
transition: all 0.5s ease-in-out;
    box-shadow: inset 0px 0px 8px var(--magenta), 0 0 15px var(--magenta);
    cursor: grab;
}

.main-work img:hover + #main-work-header {
    transition: all 0.5s ease-in-out;
    box-shadow: inset 0px 0px 8px var(--magenta), 0 0 15px var(--magenta);
    cursor: grab;
}

.main-work img:active {
    transition: none;
    border-color: var(--magenta);
}

.main-work img:active + #main-work-header {
    transition: none;
    border-color: var(--magenta);
    color: var(--magenta);
}

/*My Work Coming Soon Styles*/
.coming-soon {
    margin: 25px 10px 25px 10px;
    padding: 10px;
    border: 3px solid var(--darkblue);
    border-radius: 8px;
    background-image: url("../images/comingsoon.jpg");
    background-color: #cccccc;
    width: 400px;
    height: 400px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.coming-soon:hover {
    transition: all 0.5s ease-in-out;
    box-shadow: inset 0px 0px 8px var(--magenta), 0 0 15px var(--magenta);
    cursor: grab;
}

.coming-soon:active {
    transition: none;
    border-color: var(--magenta);
}

/*Contact Me Styles*/
.contact-me {
    margin: 20px 10px 5px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--darkblue);
}

.contact-me h3 {
    font-size: 150%;
}

.contact-me a {
    display: flex;
    justify-content:flex-start;
}

/*Resume Styles*/
.resume {
    margin: 20px 10px 20px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--darkblue);
}

.resume h3 {
    font-size: 150%;
}

/*Media Screen Queries*/
@media screen and (max-width: 992px) {
    #header-image {
        width: 75%;
    }
    .about-me {
        left: 20%;
    }
    #main-work-header {
        bottom: -15%;
    }
}

@media screen and (max-width: 390px) {
    #header-image {
        width: 75%;
    }
    .about-me {
        left: 20%;
    }
    #main-work-header {
        bottom: -23%;
    }
}